@import url(https://fonts.googleapis.com/css?family=Calibri);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body { font-family: 'Calibri'; }
h1, h2, h3 {
font-family: 'Calibri';
font-weight: normal;
color: #1e91d2
}

/*Columns*/
.column:first-of-type {float:left}
.column:last-of-type {float:right}
.split-40 .column:first-of-type {width: 40%}
.split-40 .column:last-of-type {width: 60%}

img {
max-width: 100%;
display: block;
margin: 0 auto;
}
.remark-code, .remark-inline-code {
font-family: 'Droid Sans Mono';
background-color: LightGrey;
}
.left-table > table{
/*Left align tables on slides with class left-table*/
margin:1em 0;
}
table {
 /*border-collapse: collapse;*/
 border-spacing: 3px;
 /*center tables within their container*/
 margin:1em auto; 
}
th {
 background-color: #4472C4;
 color: white;
 text-align: left;
}
th, td {
 padding: 5px;
}
tr:nth-child(even) {
 background-color: #E9EBF5;
}
tr:nth-child(odd) {
 background-color: #CFD5EA;
}
.remark-slide{
 background: white;
//  background: radial-gradient(circle, white 25%, #dde5ff);
 border-top: thick solid #026dc1;
 border-width: 15px;
}
.normal-background {
 // update with your logo: 
 background: url(https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/103px-Wikipedia-logo-v2.svg.png);
 background-position: left 20px bottom 20px;
 background-repeat: no-repeat;
 /* Multiple background images:*/
 /* background: url(logo01.png), url(bottom01.png);
    background-position: right top, right bottom;
    background-repeat: no-repeat;
    background-size: auto, contain;	 */
}
div.smalltext p,
div.smalltext li{
 font-size: 1.4rem;
}
p, li{
 font-size: 2rem;
 color: #161056;
}
.attn{
 font-weight: bold;
 color: red
}
@mixin bubble{
padding:1px 5px;
border-radius:5px;
}
.TODO{
@include bubble;
font-weight:bold;
background-color:#ff006e;
color:white;
}
/* Two-column layout */
.left-column {;
width: 50%;
height: 92%;
float: left;
}
.right-column {
width: 50%;
float: right;
}

